<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="managerPort" value="45050"/>
    <add key="consolePort" value="45051"/>
    <add key="host" value="192.168.1.100"/>
    <add key="definitionsPath" value=".\scripts\_definitions"/>
  </appSettings>
</configuration>